{% extends 'SHOP_APP/shop.html' %}
{% block content %}
<h1> Order summary </h1>
{% for item in cart_object %}
	<h3><p>{{item.product.name}}</p></h3>
	<p> Price: {{item.product.price}}</p>
	<p> Quantity of item: {{item.quantity}}
	<form action="{% url 'add_to_cart' item.product.id item.product.slug %}" method = 'POST'>
		{{item.quantity_form.as_p}}
		{% csrf_token %}
		<button type = 'submit'>Set quantity</button>
	</form>
	<a href = "{% url 'remove_from_cart' item.product.id item.product.slug %}"> Remove item </a>
	<p> Total Price: {{item.total_price}}
		{#<a href ="{% url 'add_to_cart' item.product.slug %}">+</a><a href ="{% url 'remove_single' item.product.slug %}">-</a><a href ="{% url 'remove_from_cart' item.product.slug %}"> Remove all items </a>#}
{% endfor %}

<h2> TOTAL PRICE OF ITEMS: {{ cart_object.get_total_price }} </h2>
<button type = submit><h3><a href = "{% url 'order_create' %}">Create order</a></h3></button>
<p><button type = submit><a href = "{% url 'website_shop' %}">Keep shopping</a></button></p>
{% endblock content %}