{% extends 'SHOP_APP/shop.html' %}
{% block content %}
<h1> Order summary </h1>
{% for item in cart_object %}
	<h3><p>{{item.product.name}}</p></h3>
	<p> Price: {{item.product.price}}</p>
	<p> Quantity: {{item.quantity}}</p>
	<p> Total Price: {{item.total_price}}
		{#<a href ="{% url 'add_to_cart' item.product.slug %}">+</a><a href ="{% url 'remove_single' item.product.slug %}">-</a><a href ="{% url 'remove_from_cart' item.product.slug %}"> Remove all items </a>#}
{% endfor %}

<h2> TOTAL PRICE OF ITEMS: {{ cart_object.get_total_price }} </h2>
<h3><a href = "{% url 'summary_shop' %}">Go to summary</a></h3>
<h3><a href = "{% url 'website_shop' %}">Keep shopping</a></h3>
{% endblock content %}