{% extends 'SHOP_APP/shop.html' %}
{% block content %}
	<h1>{{product.name}}</h1>
	<img src={{product.image.url}}></img>
	{% if product.discount_price %}
		<h2>{{product.discount_price}}$</h2>
	{% else %}
		<h2>{{product.price}}$</h2>
	{% endif %}
	<p>{{product.description}}</p>
	<a href = "{% url 'add_to_cart' product.slug %}"> Add to cart </a>
	<h2> Opinions:</h2>
	<p><a href = "{% url 'create_opinion' product.pk %}">Click here to add your opinion</a></p> 
	{% for item in page_obj %}
		{% if not item.author %}
			<h3>Deleted user</h3>
		{% else %}
			<h3>{{item.author.username}} </h3>
		{% endif %}
		<h4>Rated: <a> {{item.rating}} </a> </h4>
		<p>{{item.content}}</p>
		<p>{{item.date}}</p>
	{% endfor %}
	<p>
		{% if page_obj.paginator.count > page_obj.paginator.per_page %}
			{% if page_obj.has_previous %}
				<a href = "?page=1"> First </a>
				<a href = "?page={{page_obj.previous_page_number}}">Previous</a>
			{% endif %}
			{% for page in page_obj.paginator.page_range %}
				{% if page == page_obj.number %}
					{{page_obj.number}}
				{% elif page > page_obj.number|add:-3 and page < page_obj.number|add:3%}
				<a href ="?page={{page}}">{{page}}</a>
				{% endif %}
			{% endfor %}
			{% if page_obj.has_next %}
				<a href = "?page={{page_obj.next_page_number}}"> Next </a>
				<a href = "?page={{page_obj.paginator.num_pages}}"> Last </a>
			{% endif %}
		{% endif %}
	</p>
{% endblock content %}