{% extends 'BASE_APP/index.html' %}
{% block nav %}
<ul class="nav-login">
	{% if user.is_authenticated %}
		<li><a href= "{% url 'cart' %}" >Cart</a></li>
		<li><a href= "{% url 'user-profile' %}" >Profile</a></li>
		<li><a href= "{% url 'website-logout' %}" >Log out</a></li>  
	{% else %}
		<li><a href= "{% url 'website-register' %}" >Sign up</a></li>
		<li><a href= "{% url 'website-login' %}" >Log in</a></li>
	{% endif %}
</ul>
{% endblock nav %}
{% block content %}
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
	<a href="{% url 'website_shop' %}"> All products </a>
{% for item in categories %}
	<p><a href="{% url 'filtered_shop' item.slug %}">{{item.name}}</a></p>
{% endfor %}
{% block filtering %}
<a href="{% url 'filter_products' %}"> Filter products </a>
{% endblock filtering %}
{% for product in page_obj %}
	<a href= "{% url 'product_details' product.slug %}"><img src={{product.image.url}}></img></a>
	<h1><a href= "{% url 'product_details' product.slug %}">{{product.name}}</a></h1>
	{% if product.discount_price %}
		<h3>{{product.discount_price}}$</h3>
	{% else %}
		<h3>{{product.price}}$</h3>
	{% endif %}
{% endfor %}

{% if paginator.count > paginator.per_page %}
	{% if page_obj.has_previous %}
		<a href = "?page=1"> First </a>
		<a href = "?page={{page_obj.previous_page_number}}">Previous</a>
	{% endif %}
	{% for page in paginator.page_range %}
		{% if page == page_obj.number %}
			{{page_obj.number}}
		{% elif page > page_obj.number|add:-3 and page < page_obj.number|add:3%}
		<a href ="?page={{page}}">{{page}}</a>
		{% endif %}
	{% endfor %}
	{% if page_obj.has_next %}
		<a href = "?page={{page_obj.next_page_number}}"> Next </a>
		<a href = "?page={{paginator.num_pages}}"> Last </a>
	{% endif %}
{% endif %}
{% endblock content %}