{% extends 'BASE_APP/index.html' %}
{% block nav %}
<ul class="nav-login">
	{% if user.is_authenticated %}
		<li><a href= "{% url 'cart' %}" >Cart</a></li>
		<li><a href= "{% url 'user-profile' %}" >Profile</a></li>
		<li><a href= "{% url 'website-logout' %}" >Log out</a></li>  
		{% if perms.BASE_APP.can_create_news %}
			<li><a href= "{% url 'website-createnews' %}" >Create News</a></li>
		{% endif %}
	{% else %}
		<li><a href= "{% url 'website-register' %}" >Sign up</a></li>
		<li><a href= "{% url 'website-login' %}" >Log in</a></li>
	{% endif %}
</ul>
{% endblock nav %}
{% block content %}
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
{% endblock content %}
