{% extends 'BASE_APP/index.html' %}
{% block content %}
<h1>{{object.title}} </h1>
<p>{{object.content}}</p>
{% if object.author == user %}
	<li><a href= "{% url 'website-updatenews' object.pk %}" >Edit</a></li>
	<li><a href= "{% url 'website-deletenews' object.pk %}" >Delete</a></li>
{% endif %}
<h2>Komentarze: </h2>
{% if user.is_authenticated %}  
	<form method = 'POST'>
		{% csrf_token %}
		{{form.as_p}}
		<button type = 'submit'> Add comment </button>
	</form>
{% endif %}
{% for o in comments %}
	<h4>{{o.author.username}} </h4>
	<p>{{o.content}}</p>
	<p>{{o.date}}</p>
	{% if o.author == user %}
		<a href = "{% url 'comment-update' pk=o.pk %}"> Edit </a>
		<a href = "{% url 'comment-delete' pk=o.pk %}"> Delete </a>
	{% endif %}
{% endfor %}
{% endblock content %}
